{% load staticfiles i18n %}<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}recon{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>

    <form action="/index" method="GET">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="submit"/>
    </form>

    <br>
    <br>
    <hr>


    <table border="1" >
    <caption>Orders whose Payment still pending</caption>
    <tr>
        <th>Channel</th>
        <th>Sale Date</th>
        <th>Order Number</th>
        <th>Invoice Number</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Net Amount</th>
    </tr>
    {% for order_list in order_detail %}
        <tr>
        <td>{{ order_list.channel }}</td>
        <td>{{ order_list.sale_date }}</td>
        <td>{{ order_list.order_number }}</td>
        <td>{{ order_list.invoice_number}}</td>
        <td>{{ order_list.item }}</td>
        <td>{{ order_list.quantity }}</td>
        <td>{{ order_list.net_amount }}</td>
        </tr>
    {% endfor %}
    </table>

    <hr>

    <table border="1" >
    <caption>Orders whose Payment Mismatches</caption>
    <tr>
        <th>Channel</th>
        <th>Sale Date</th>
        <th>Order Number</th>
        <th>Invoice Number</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Net Amount</th>
        <th>Pay Date</th>
        <th>Payment Amount</th>
    </tr>

    {% for mismatch_list in order_mismatch %}
        <tr>
        <td>{{ mismatch_list.channel }}</td>
        <td>{{ mismatch_list.sale_date }}</td>
        <td>{{ mismatch_list.order_number }}</td>
        <td>{{ mismatch_list.invoice_number}}</td>
        <td>{{ mismatch_list.item }}</td>
        <td>{{ mismatch_list.quantity }}</td>
        <td>{{ mismatch_list.net_amount }}</td>
        <td>{{ mismatch_list.pay_date }}</td>
        <td>{{ mismatch_list.payment_amount }}</td>
        </tr>
    {% endfor %}
    </table>

   {% block footer%}
   <br/>
   <hr/>
   <p align="center">&copy; Recon 2015</p>
   {% endblock footer %}



  </body>


</html>
 
